[2021-10-09 06:47] sohyunwriter opened #1 "[NSML] pre-trained model / 깃헙 모델 사용 관련"
# 주제
- pre-trained model / 깃헙 모델 사용 관련

# 상황 (자세히 작성해주시면 좋습니다.)
- 대회 규정 질문드립니다

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
- 대화요약에서 pre-trained model 사용 불가능하다고 알고 있습니다. 그렇다면 다음의 가능 여부가 궁금합니다.
- 1) 깃헙에 오픈소스로 공개된 코드에 착안해 저희 데이터셋에 맞게 customized하는 것이 가능한지?
- 2) 기존에 있는 모델 구조를 weight만 지우면 해당 알고리즘은 사용할 수 있는건지?

# 기타 문의 사항
-

[2021-10-09 06:53] dacon-murdoch commented on #1
안녕하세요.
말씀하신 2가지 사항 모두 활용 가능합니다.
감사합니다.

[2021-10-09 07:40] KHY13 opened #2 "[NSML] 세션생성 오류"
# 주제
-  NSML 세션생성 오류

# 상황 (자세히 작성해주시면 좋습니다.)
-  "nsml run -e main.py -d dialouge" 실행시 세션 생성 오류가 발생

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
-  안녕하세요 "nsml run -e main.py -d dialouge" 로 baseline 코드 실행시에 다음과 같은 오류가 발생합니다.
- 아직 오픈이 안된 것인지 계정등록이 안된 것인지 확인부탁드립니다.
![image](https://user-images.githubusercontent.com/55617916/136649165-4d8a505d-0818-4fad-9bd0-fb10ca84c74d.png)

# 기타 문의 사항
-

[2021-10-09 07:51] bluebrush commented on #2
@KHY13 님, 조치되었습니다. 다시 시도부탁드립니다 :)

[2021-10-09 08:00] KHY13 commented on #2
해결되었습니다. 감사합니다!

[2021-10-09 08:00] #2 closed, assigned to bluebrush

[2021-10-09 08:06] dan-legit commented on #1
추가 질문: Tokenizer도 마찬가지로 pre-trained를 사용하진 않되, 공개된 코드를 사용하여 주어진 데이터로 scratch 부터 학습하여 사용해야 하는 것이죠?

[2021-10-09 10:53] hyeinhyun opened #3 "[NSML] 깃헙, nsml 등록이 안된 팀원이 있습니다."
# 주제
-

# 상황 (자세히 작성해주시면 좋습니다.)
- 팀원 중 한명이 깃헙 초대 및 nsml 접근 권한이 안되었습니다.
- 팀 : 여우면, 팀원 : 임소영
- 깃헙 아이디 : sy2399 / 깃헙 이메일 : syrhim94@gmail.com  입니다. 확인부탁드립니다.

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
-

# 기타 문의 사항
-

[2021-10-09 11:23] devsungmin commented on #3
안녕하세요 @hyeinhyun 님

제출해주신 Github 계정을 확인해보니 임소영님 계정은 `soyoung`으로 확인됩니다.

감사합니다.

[2021-10-09 11:45] sohyunwriter commented on #3
안녕하세요. @devsungmin 님
해당 팀원의 '닉네임'이 아니라 '이름'으로 깃헙 계정이 잘못 전달되었는데요.
깃헙 이메일은 동일합니다.

**기존 soyoung 계정 취소해주시고, sy2399로 재초대 부탁드립니다.**

감사합니다.

[2021-10-09 13:58] P4RK-J4EWOONG opened #4 "[NSML] 세션실행 오류"
# 주제
- NSML 세션 실행 오류

# 상황 (자세히 작성해주시면 좋습니다.)
- baseline 코드가 "nsml run -e main.py -d dialogue"로 실행이 되질 않습니다.

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
- 처음에는 baseline 코드가 위의 커맨드로 정상적으로 작동했는데, 지금은 완전히 새롭게 baseline 코드를 git clone해서 실행해도 아래와 같은 에러가 발생합니다.
- ![스크린샷 2021-10-09 오후 10 57 31](https://user-images.githubusercontent.com/58019542/136660826-f832af4c-7485-411f-9334-84df6bd2132c.png)

# 기타 문의 사항

[2021-10-09 14:00] ZIZUN opened #5 "[NSML]"
# 주제
-

# 상황 (자세히 작성해주시면 좋습니다.)
- 화성갈끄니까 팀입니다.
- Allocating ! <- 이렇게만 뜨고. 끌려고 해도 안꺼지네요. Stop해도 안돼요. 세션 끄고싶은데 어떻게 해야하나요?

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
-
![image](https://user-images.githubusercontent.com/24732802/136660872-168ed2f2-dabf-4752-b38c-cbaac4a825a5.png)

# 기타 문의 사항
-

[2021-10-09 14:46] ZIZUN commented on #5
해결했습니다.

nsml rm nia2037/dialogue/6 하니까 되네요. 다른분들도참고하셔요

[2021-10-09 14:46] #5 closed, assigned to bluebrush

[2021-10-09 15:07] hyeinhyun opened #6 "[Dataset] inference를 위한 리턴 형태 문의드립니다"
# 주제
-  inference를 위한 리턴 형태 문의드립니다

# 상황 (자세히 작성해주시면 좋습니다.)
- 안녕하세요, 코드를 보다가 리턴결과가 리턴 결과는 [(확률, 0 or 1)] 의 형태라고하는데, 여기서 '확률'의 의미가 무엇인지 설명부탁드립니다.
- 또한, 0 or 1 binary로 리턴되는게 맞나요?

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
- <img width="669" alt="스크린샷 2021-10-09 오후 11 22 35" src="https://user-images.githubusercontent.com/41287040/136661970-f40e0ace-8aef-4488-bb56-f1dcb1f68897.png">

# 기타 문의 사항
-

[2021-10-09 15:22] Usurper47 opened #7 "[NSML] NSML에 로그인이 되질 않습니다."
# 주제
-

# 상황 (자세히 작성해주시면 좋습니다.)
- 현 계정으로 NSML에 접근하고자 하면, 다음과 같은 출력이 나옵니다.

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
- 팀명: 3줄 요약
- 성명: 서일 (1인 팀)
- 대표 이메일: joil47@ajou.ac.kr
- 대표 github 프로필 링크: https://github.com/usurper47
- 대표 github 프로필 닉네임: Usurper47
- 참여자 정보의 메일 주소: joil47@ajou.ac.kr

- 아니면 제가 뭔가 놓친게 있을까요?

# 기타 문의 사항
-

[2021-10-09 15:27] ZIZUN opened #8 "[NSML] GPU부족"
# 주제
-

# 상황 (자세히 작성해주시면 좋습니다.)
- 아무래도 자원이 부족한 것 같은데 해결 부탁드립니다.

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
 제가 문제인 건지 모르겠지만 GPU가 부족한 것 같아요.
![image](https://user-images.githubusercontent.com/24732802/136664645-d6ae18bf-4b38-4028-9fde-d2b79e346b87.png)

# 기타 문의 사항
- 고생하세요 감사합니다.

[2021-10-09 16:26] P4RK-J4EWOONG commented on #4
시간이 지나니까 알아서 정상적으로 작동하는 것 같아요 :)

그런데 저희가 잘못해서 이런 문제가 발생하는 건지, 아니면 순간적으로 플랫폼이 불안정해서 그런건지는 잘 모르겠어요.

도중에는 아래와 같은 오류가 발생했었습니다.

<img width="1275" alt="스크린샷 2021-10-10 오전 1 24 55" src="https://user-images.githubusercontent.com/58019542/136666497-ac8e311c-be55-4faf-8a34-1f724b1805f5.png">

[2021-10-10 02:53] devsungmin commented on #3
안녕하세요. @sohyunwriter, @hyeinhyun 님

늦게 답변 드려서 죄송합니다.

기존 제출해주신 계정 확인하여 NSML 측에 변경 요청 드렸습니다.

감사합니다.

[2021-10-10 03:22] hyeinhyun opened #9 "[NSML] 안녕하세요 Tokenizer사용에 대해 문의 드립니다."
# 주제
- Tokenizer사용에 대해 문의 드립니다.

# 상황 (자세히 작성해주시면 좋습니다.)
- 안녕하세요, 여우면팀입니다.
저희 대회가 pretrained model이 사용이 안되는 것으로 알고있습니다. 미리 학습되어 패키지화 된 tokenizer(메캅 등)도 사용을 못하는 건가요?

-------------
혹시, 사용이 가능하다면 현재는 메캅을 사용하기위한 mecab-ko-dic 파일을 외부에서 올리지 못하게 되어있는 것으로 알고있습니다.
이에 관한 해결법 또한 알려주시길 바랍니다.

감사합니다.

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
-

# 기타 문의 사항
-

[2021-10-10 04:55] codertimo opened #10 "[Dataset] evaluation 스크립트 제공 요청"
# 주제
- ROUGE metric 측정을 위해서 사용되는 evaluation script 요청

# 상황 (자세히 작성해주시면 좋습니다.)
- 주최측에서는 ROUGE 기반 metric 을 사용하여 모델의 성능을 평가한다고 고지하였습니다.
- 한국어의 경우에는 주로 어절단위가 아닌 형태소 단위로 ROUGE 를 계산하는 것으로 알려져 있습니다.
- 이전 문서요약 역량평가에서도 형태로 단위의 ROUGE 를 사용한다고 Q&A에서 답변주셨습니다.

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
- Q1. 본 대회에서는 ROUGE 를 계산할 때 형태소 단위를 사용하는지 질의드립니다.
- Q2. Q1이 맞다고 한다면, 어떤 형태소 분석기를 사용하는지 알려주시면 감사하겠습니다.
- 각 참가자 간의 착오가 없

[2021-10-10 05:22] bluebrush commented on #3
@sohyunwriter @devsungmin 님, 요청사항 반영되었습니다. (10-10 14:10)

[2021-10-10 05:24] bluebrush commented on #8
@ZIZUN 님, 위 자원뷰는 공용 pool에 대한 내용입니다
현재 각 팀은 별도 설정된 전용 pool을 사용하고 있습니다.
자원 현황은
`nsml status -r` , `nsml status -r -v` 로 확인 가능합니다.

[2021-10-10 05:27] bluebrush commented on #9
@dacon-murdoch 님, 답변 가능하실까요?

[2021-10-10 05:39] #3 closed, assigned to bluebrush

[2021-10-10 05:54] ZIZUN commented on #8
아하 그렇군요! 이제 잘돼요 감사합니다.

[2021-10-10 05:54] #8 closed, assigned to bluebrush

[2021-10-10 06:50] cosmoquester opened #11 "[NSML] 세션 종료 불가능 오류"
# 주제
- NSML에서 세션을 끄고 싶어도 꺼지지 않는 상황이 발생하는데 이럴 때 어떻게 해야하나요?

# 상황 (자세히 작성해주시면 좋습니다.)

- 베이스라인 코드를 돌리거나 테스트용으로 코드를 돌려보는데 이유는 알 수 없이 아래와 같은 에러가 발생하는데(현재 두 번째 발생함), 세션 로그에는 아래와 같은 Allocating! 이라는 글자만 계속 찍히고 정지하기 위해 Stop을 눌러도 ` Failed to change the session status.`라고 나오면서 정지가 되지 않습니다. nsml 웹에서도 안되고 nsml stop 커맨드도 안되네요. 세션 한 개 밖에 띄우지도 못하는데 이러면 수행에 차질이 있을 것 같습니다.

[code]

[code]

# 내용 (첨부 가능한 이미지 추가해주시면 더

[2021-10-10 06:56] ZIZUN commented on #11
세션끄는건 nsml rm nia2040/dialogue/7 하심돼요.. 서버가 불안정한거같아요 ㅠ

[2021-10-10 07:05] hyeinhyun commented on #3
감사합니다!

[2021-10-10 08:17] jonhyuk0922 opened #12 "[NSML] GPU 부족현상"
# 주제
- GPU 부족현상

# 상황 (자세히 작성해주시면 좋습니다.)
- 팀당 1개의 GPU라고 하셨는데, 60개팀보다 많은 208개 GPU가 할당되었음에도 저희팀은 1개도 돌리지 않았는데 강요 가능한 GPU가 없습니다.

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
- 아래와 같은 상황입니다. 해결을 위해 팀당 GPU갯수 제한을 걸어주셔야 모든 팀들이 사용할 수 있을 것 같습니다.
![스크린샷 2021-10-10 오후 5 17 01](https://user-images.githubusercontent.com/76195885/136688098-72ab940d-4321-4a8c-9049-d8728f4bd7c9.png)

# 기타 문의 사항
-

[2021-10-10 08:28] KHY13 commented on #12
저희팀도 같은 상황입니다.

[2021-10-10 08:29] ZIZUN commented on #12
저도요 빨리 하고싶어요

[2021-10-10 08:38] fd873630 commented on #12
저희 팀은 음성인식 분야에 참여하고 있는 inha_ASR 팀인데 음성인식 분야도 같은 상황입니다. 예선전 시간이 짧은 만큼 빠른 피드백 부탁드립니다

[2021-10-10 11:46] MattYoon commented on #4
저도 아까는 잘됐는데, 1시간 동안 이 에러만 반복하네요. 서버가 많이 불안정한거 같아요.

[2021-10-10 11:48] MattYoon commented on #12
이슈 올라온지 4시간 지났는데도 같은 상황이네요

[2021-10-10 15:16] bluebrush commented on #12
@jonhyuk0922 님, 조치되었습니다.  이상있으시면 다시 올려주세요.

[2021-10-10 15:25] cosmoquester commented on #11
아하 명령어로 rm 하는 건 되네요 감사합니다. 근데 진짜 서버가 거의 10번 run해야 1번실행되네요...

[2021-10-10 15:25] #11 closed, assigned to bluebrush

[2021-10-10 15:26] cosmoquester commented on #4
저도 저런 에러들이 계속 나오면서 계속 실행하다보면 가끔씩(?) 정상 동작하네요

[2021-10-10 15:26] bluebrush commented on #12
@MattYoon 님, 이슈가 지속되나요?
nsml run 실행 명령줄을 포함한 전체 오류 메시지가 확인될 수 있도록 붙여넣어주세요.

[2021-10-10 15:36] bluebrush commented on #12
@fd873630 님,
`nia1019/stt_1/79  Not created yet          Allocated                            0              62.22 KB  normal`
위 상태로 자원이 할당되어 있음이 확인됩니다.
Alocated 상태는 docker image build, image pull, 내부 모듈 설치 등으로 시간이 길게 소요될 수 있습니다.
혹시, 취소시 남은 있는 세션이 있다면,
nsml rm -f [session-id] 로 삭제할 수 있습니다.
정상적으로 삭제/종료되면, 1-2분 정도 후에 자원이 회수되어 재사용 가능합니다.
docker image의 경우, 동일 이미지인 경우 cache되어 최초 실행시보다 상대적으로 빠르게 생성됩니다.

[2021-10-10 15:44] bluebrush commented on #12
@KHY13 님, nsml run 명령줄을 포함한 오류 메시지를 붙여주시기 바랍니다. (추가 문의시 새로운 이슈 생성을 부탁드립니다. )
참고로,
새로운 GPU 노드에서는 nsml run에서 새로운 docker image를 사용할 경우, image build 시간으로 인한 느린 상황이 있을 수 있습니다. 현재 최대 5개의 서로 다른 노드에 할당 될 수 있으며, 동일한 docke image에 대해서 5번을 build 과정이 발생할 수 있습니다.
session 삭제 명령은 `nsml rm -f [session-id]`이며, 종료과정에 문제가 되는 세션이 있으시면 참고부탁드립니다.

[2021-10-10 15:46] bluebrush commented on #12
@ZIZUN 님, 오류 상황이 지속되고 있다면,
nsml run 명령줄을 포함한 오류 메시지를 붙여주시기 바랍니다. (추가 문의시 새로운 이슈 생성을 부탁드립니다. )
참고로,
새로운 GPU 노드에서는 nsml run에서 새로운 docker image를 사용할 경우, image build 시간으로 인한 느린 상황이 있을 수 있습니다. 현재 최대 5개의 서로 다른 노드에 할당 될 수 있으며, 동일한 docke image에 대해서 5번을 build 과정이 발생할 수 있습니다.
session 삭제 명령은 nsml rm -f [session-id]이며, 종료과정에 문제가 되는 세션이 있으시면 참고부탁드립니다.

[2021-10-10 15:55] MattYoon commented on #12
@bluebrush 지금은 잘되네요. 일시적인 문제였나 봅니다. 감사합니다.

[2021-10-10 22:56] #12 closed, assigned to bluebrush

[2021-10-11 00:54] Usurper47 commented on #7
이틀 동안 데이터조차 확인할 수 없었는데, 오늘도 해결이 안되는 걸까요?

[2021-10-11 01:30] ZIZUN opened #13 "[NSML]gpu status 보는법"
# 주제
- gpu status 보는법

# 상황 (자세히 작성해주시면 좋습니다.)
- 혹시 gpu 사용량이나 상태를 보는 방법이 있을까요?

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
-  nsml status -r 하면 자원현황을 볼 수 있다고 하셨는데, 명령어가 관리자만 쓸수있는것인지 저는 안되네요.
- 혹시 nvidia-smi처럼 자원현황 볼수있는 법 있으면 알려주시면 감사하겠습니다!
- 참고로 웹 status는 gpu를 사용하여도 현황이 나타나질 않네요!
![image](https://user-images.githubusercontent.com/24732802/136721507-284740f9-f183-4c90-bd88-80801e940e1b.png)

# 기타 문의 사항
-

[2021-10-11 02:27] sohyunwriter opened #14 "[NSML] NSML Internal Server Error"
# 주제
- NSML 자원 부족 이슈

# 상황 (자세히 작성해주시면 좋습니다.)
![image](https://user-images.githubusercontent.com/44013936/136724517-8a94a6e1-e987-4cd8-998a-ace6182d2f83.png)
- NSML run이 되지 않습니다.

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
- NSML 자원 부족 현상이 계속 일어나는 것 같습니다.
- 이와 같은 현상이 다른 깃헙 이슈에서 해결 조치 취한 후에도, 잠시 안정되었다가 다시 또 중단되는 것 같습니다.
- 현재 서버가 계속 불안정해보이는데 조치를 취해주시길 부탁드립니다.

# 기타 문의 사항
-

[2021-10-11 04:04] dan-legit commented on #14
저도 같은 이슈 발생중입니다. 지금까지 Session 생성을 한번도 못했습니다. 아직 아무것도 못하고 있습니다.
<img width="998" alt="스크린샷 2021-10-11 오후 1 04 00" src="https://user-images.githubusercontent.com/10019529/136731696-592e0207-e629-4fa3-bb9e-b1a0322ca142.png">

[2021-10-11 04:18] cosmoquester opened #15 "[Dataset] 데이터셋 다운로드 가능 여부"
# 주제
- Training/Test 데이터셋이 NSML을 통해 제공되고 있는데 이 데이터들을 다운로드 받아서 분석하거나 전처리하는 등의 행위는 금지인가요?

# 상황 (자세히 작성해주시면 좋습니다.)
-

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)

- 현재 데이터셋이 NSML로 제공되고 있고 데이터셋을 다운받는 기능를 플랫폼에서 직접적으로 제공하지는 않는 것 같습니다. 그런데 또 NSML이 기술적으로는 데이터셋을 다운받는 것이 불가능하지 않은 시스템인 거 같습니다. 또한 NSML에서 데이터셋을 다운받는 것의 허용여부에 대해 규정 상 직접적으로 언급된 것은 없고 비슷하게 운영규정에 불공정 행위로 "정상적인 대회 진행방법 외에 문제 데이터셋을 전자적 물리적으로 확보하여 도전문제를 해결하였거나

[2021-10-11 07:08] bluebrush commented on #14
@sohyunwriter 님, 이슈 확인되었습니다.
조치되었는데, 실제 적용이 되는지는 사용자 docekr image 주소의 영향을 받는지 확인 필요합니다.
재실행해서 테스트 부탁드립니다.
docker image 주소를 알려주시면 확인 가능할 것 같습니다.

https://www.docker.com/increase-rate-limits?utm_source=docker&utm_medium=web%20referral&utm_campaign=increase%20rate%20limit&utm_budget=

[2021-10-11 07:12] dan-legit opened #16 "[NSML] run/submit 실행 시 session 생성 불가."
# 주제
- session 생성 문제

# 상황 (자세히 작성해주시면 좋습니다.)
- submit이나 run을 하기 위해서 session을 생성하려고 하면 2가지 종류의 에러가 자주 뜹니다.
1. 이미 세션이 존재한다고 함. 곧 있으면 지워진다고 하면서 다시 생성하려고 하면 다른 세션을 추가하려고 시도함.
2. not enough resources for your request, 하지만 저희 팀 리소스는 충분합니다.

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
1.
![image](https://user-images.githubusercontent.com/10019529/136747466-3aa78bdb-bd3d-442d-9d00-8a37cb0d6522.png)

2.
![image](htt

[2021-10-11 07:13] ZIZUN opened #17 "[NSML] 세션 에러"
# 상황 (자세히 작성해주시면 좋습니다.)

팀: 화성갈끄니까
submit, run 둘다 세션 빌드되기전에 에러가 나네요. 해결 부탁드립니다.
자원이 부족하다는 경고메시지가 뜨기도 합니다.
도커 문제가 아닌거 같아요. nsml기본걸로 해도 같은 상황입니다.(제생각)

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
-

![image](https://user-images.githubusercontent.com/24732802/136749206-daa090f8-8691-44d0-aada-128fc8a278a2.png)
![image](https://user-images.githubusercontent.com/24732802/136747262-36f1ac1a-cac4-4332-acbb-b0dee3f4

[2021-10-11 07:16] hyeinhyun commented on #14
저도 같은 현상입니다. docker image 라고 하면, #nsml: dacon/nia-tf:1.0
를 말씀하시는 걸까요?

저희 요약 팀은 custom docker를 이용하지 못하는것으로 알고있습니다.

[2021-10-11 07:21] bluebrush commented on #14
@hyeinhyun 님, 함께 해결되 었을 것으로 보여집니다.

말씀하신 docker image를 할당가능한 장비에 pull 중에 있으니, 참고부탁드립니다.

[2021-10-11 07:46] hyeinhyun commented on #14
@bluebrush 님,
16시 45분 현재도 똑같은 현상이 지속되고있습니다 ㅠㅠ
<img width="685" alt="스크린샷 2021-10-11 오후 4 46 08" src="https://user-images.githubusercontent.com/41287040/136751894-90434dfd-c874-4d96-97ab-011c135c0e26.png">

너무 급하게 여쭤보는것은 아닌가 걱정이되지만, 시간이 짧은 해커톤이기에 양해부탁드립니다ㅠㅠ

[2021-10-11 07:47] KHY13 opened #18 "[NSML] 세션 생성오류"
# 주제
- nsml run 또는 nsml submit 세션 생성오류

# 상황 (자세히 작성해주시면 좋습니다.)
- 팀당 GPU가 1개씩 할당이 된거면 GPU 1개는 보장이 되어야 할텐데 똑같은 코드를 nsml run 또는 nsml submit 했을때 돌아갈때가 있고 No available Machine 또는 Fail to build docker. 라는 오류가 발생합니다. 확인 부탁드립니다.

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
-
![image](https://user-images.githubusercontent.com/55617916/136751844-d66253d9-3ea5-411f-81d1-968e10f303d1.png)
![image](https://user-images.g

[2021-10-11 07:48] dan-legit commented on #14
저도 마찬가지로 안됩니다. 혹시 docker image를 #nsml: dacon/nia-tf:1.0 이거 말고 다른거를 사용하면 문제가 없다든지 그런건 아니겠죠?
도커 이미지 문제가 아니라 컨테이너 혹은 세션 문제인 거 같아서요.

[2021-10-11 07:56] Usurper47 opened #19 "[NSML] 운영측에서 답변이 없어 다른분들께 질문드립니다.. 혹시 NSML 접근에 사전조치가 필요하셨나요?"
# 주제
- NSML 로그인 불가

# 상황 (자세히 작성해주시면 좋습니다.)
- pdf를 읽어가면서 진행하려는데, NSML 로그인 자체가 안됩니다. (웹 및 터미널)
- 다른분들은 바로 로그인이 가능하셨나요 아니면 뭔가 거쳐가야하는 과정이 있는건가요?
- (제가 깃허브를 잘 다루지 못해서, 기초적인 것을 빼먹은게 아닐까도 싶습니다.)

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
- 권한도 받은 것 같은데.. 이게 아닌가요?
![image](https://user-images.githubusercontent.com/46472729/136753151-afa70562-ee10-480a-b366-8335a6ce8cb6.png)

# 기타 문의 사항
- 살려주세요.. 데이터라도 보고 싶습니다..

[2021-10-11 08:14] ZIZUN commented on #19
왜그럴까요 ㅠ 저는 그냥 바로 됐어요..

[2021-10-11 08:19] KHY13 commented on #19
저같은경우에는 NSML 로그인은 됐는데 세션 생성할때 권한오류(?)같은게 발생해서 운영진측에서 해결해 주셨었어요

[2021-10-11 08:34] Usurper47 commented on #19
모두 감사드립니다! 내일 출근하실 때까지 기다려봐야겠네요!

[2021-10-11 08:38] P4RK-J4EWOONG opened #20 "[NSML]NSML에 run/submit 관련 오류 내용이 계속 변경됩니다."
# 주제
- NSML에 run/submit 관련 오류 내용이 계속 변경됩니다.

# 상황 (자세히 작성해주시면 좋습니다.)
- NSML에 run/submit 관련 오류 내용이 계속 변경됩니다. allocating 실패라고 할 때도 있고, docker build fail이라고 할 때도 있고, 자원이 부족하다고 할때도 있습니다.

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
- ![스크린샷 2021-10-11 오후 5 35 02](https://user-images.githubusercontent.com/58019542/136758984-0af07c15-8236-41a6-8734-35a29fbd5caf.png)
- ![스크린샷 2021-10-11 오후 5 35 39](https://

[2021-10-11 08:39] cosmoquester commented on #14
저도 같은 현상이 지속적으로 발생하고 저는 torch로 하는데 나는 걸 보면 base 도커 이미지와는 무관한 것 같습니다.

[2021-10-11 08:42] cosmoquester commented on #19
저도 github ID/PW로 하니까 로그인은 바로 됐어요! 주최측에 제공한 github 아이디로 등록해주신 것 같던데 문의를 해보시는 게 좋을 것 같아요

[2021-10-11 10:32] ziggy321 opened #21 "[NSML] 맞춤법 검사기 질문"
# 주제
- 맞춤법 검사기 질문

# 상황 (자세히 작성해주시면 좋습니다.)
- 개회식 qna에서 다른분의 질문에 맞춤법 검사기는 pretrained model에 해당하므로 사용할 수 없다고 답변한 것을 보았습니다.
- 룰베이스 맞춤법 검사기는 어떤가요? 이것도 허용되지 않는 건가요?

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
-

# 기타 문의 사항
-

[2021-10-11 14:49] ziggy321 opened #22 "[NSML] nsml 에러 메세지 : An error occurred while initializing user information"
# 주제
- nsml 에러 메세지 : An error occurred while initializing user information

# 상황 (자세히 작성해주시면 좋습니다.)
- 베이스라인 코드를 돌려보려는 중에 에러가 납니다.

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
- 다음과 같은 에러 메세지가 나옵니다.
- Error: An error occurred while initializing user information. Please contact dev team
FATA[2021/10/11 23:44:19.841] Internal server error
- 다른 분들은 docker 어쩌구라도 나오는데, 저는 사용자 정보를 초기화하면서 에러가 났다는, 아무도 안 뜨는 메세지가 나옵니다

[2021-10-11 15:31] bluebrush commented on #22
@hongjehong 님,
아래 2개 명령의 comman line포함한 전체 메시지를 붙여주시기 바랍니다.
`nsml login`
`nsml whoami`

[2021-10-11 15:32] bluebrush commented on #21
@dacon-murdoch 님, 답변 가능하실까요?

[2021-10-11 15:56] ziggy321 commented on #22
<img width="569" alt="스크린샷 2021-10-12 오전 12 56 28" src="https://user-images.githubusercontent.com/46099642/136820253-ec1d48b4-757f-418b-b841-973696162b22.png">

@bluebrush 말씀하신 메세지 첨부하였습니다.

[2021-10-12 01:09] devsungmin commented on #19
안녕하세요.

늦게 확인 해서 죄송합니다.

현재 저희 측에서 확인 해본 결과 `https://github.com/usurper47` 정보로 NSML측에 전달한 상태입니다.

따라서 NSML 계정 정보가 소문자로 입력되어 들어간것으로 확인됩니다.

해당 문제는 NSML측에 `Usurper47`로 다시 전달하도록 하겠습니다.

다시 한번 대회 진행에 어려움을 드려서 죄송합니다.
감사합니다.

[2021-10-12 03:22] bluebrush commented on #19
@Usurper47 님, 반영되었습니다.

[2021-10-12 03:23] bluebrush commented on #7
@Usurper47 님, 변경 등록되었습니다.

[2021-10-12 03:26] #19 closed, assigned to bluebrush

[2021-10-12 03:26] #7 closed, assigned to bluebrush

[2021-10-12 03:28] ziggy321 commented on #22
<img width="570" alt="스크린샷 2021-10-12 오후 12 27 07" src="https://user-images.githubusercontent.com/46099642/136886290-05a6544c-0ba3-4ded-838f-cb787eb883d5.png">

@bluebrush 기존 메세지와 언급하신 메세지 모두 연속적으로 출력된 캡쳐 첨부하였습니다.

[2021-10-12 05:24] dacon-murdoch commented on #6
안녕하세요.
해당 주석은 무시하신 후
docs의 데이터 설명을 참고하시어 요약문을 작성해주시면 됩니다.

[2021-10-12 05:24] #6 closed, assigned to dacon-murdoch

[2021-10-12 05:53] dacon-murdoch commented on #21
안녕하세요.
주어진 train data를 활용해 만들어진 맞춤법 검사기는 활용할 수 있지만,
외부 데이터를 활용하여 만들어진 rule based 맞춤법 검사기는 활용하실 수 없습니다.
감사합니다.

[2021-10-12 05:55] dacon-murdoch commented on #9
안녕하세요.
tokenizer로 mecab을 사용하는 것은 괜찮습니다.
사용에 대한 해결법은 확인 후 답변드리겠습니다.
감사합니다.

[2021-10-12 05:57] dacon-murdoch commented on #15
안녕하세요.
데이터셋을 local로 다운로드하여 분석을 진행하는 것은 금지하고 있습니다.
감사합니다.

[2021-10-12 06:01] dacon-murdoch commented on #10
안녕하세요.
본 대회에서도 역량평가와 마찬가지로 형태소 단위를 사용합니다.
평가 스크립트는 말씀하는 것처럼 코드 형태로 공유해 드리겠습니다.
감사합니다.

[2021-10-12 06:34] #15 closed, assigned to dacon-murdoch

[2021-10-12 06:34] #21 closed, assigned to bluebrush, dacon-murdoch

[2021-10-12 06:35] #10 closed, assigned to dacon-murdoch

[2021-10-12 06:45] #9 closed, assigned to vetaerang, dacon-murdoch

[2021-10-12 06:52] nammyoungjin commented on #9
다른 pretrained model 의 토크나이저 사용은 불가능한가요?

[2021-10-12 07:43] jonhyuk0922 opened #23 "[Dataset] train_data print 문 사용 가능여부"
# 주제
- 코드 상 프린트문으로 학습데이터 EDA 가능한가요

# 상황 (자세히 작성해주시면 좋습니다.)
- 데이터에 대해서 EDA를 진행해보고 싶습니다.

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
- 코드상 print문을 넣어서 data 특징을 찍어봐도 될까요? 혹 불가능하다면 AI HUB 에 있는 35만건을 통한 EDA는 가능할까요??? 개회식에서 데이터 품질에 대해 테스트 해달라는 내용도 있었는데  어떻게 데이터를 확인해야할지 잘 모르겠어서 여쭤봅니다!!

# 기타 문의 사항
- NSML 플랫폼에 대해 설명해주시는 자리나, 슬렉같은 채널을 만들어주실순 없으실까요?

[2021-10-12 07:47] dacon-murdoch commented on #23
안녕하세요.
print 문을 사용하여 EDA를 해보셔도 좋습니다. / 또한 AI HUB에 있는 데이터를 활용하여 전체적인 form을 확인하셔도 무방합니다.
기타 문의 사항에 대해서는 내부적으로 말씀드려 보겠습니다.
감사합니다.

[2021-10-12 08:07] KyungHyunLim opened #24 "[Dataset] fill mask task로 딥러닝 pretraining 시킬 때 데이터셋 사용범위"
# 주제
-  fill mask task로 딥러닝 pretraining 시킬 때 데이터셋 사용범위

# 상황 (자세히 작성해주시면 좋습니다.)
- 오픈소스에 공개된 모델을 가져와 custom하고, 여러 LM 모델을 학습시키는 방법이었던, fill mask, nsp task 로 학습을 먼저 시켜 이것을 기반으로 대화요약 task fine tuning을 하려고 합니다.

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
-  대화 요약 task가 아닌, pretrained 모델을 만들기 위해서 fill mask, nsp task 등으로 학습을 시킬때, 데이터셋을 모두 활용해도 되는지 아니면 train data만 이용해야 될지 문의드립니다.

# 기타 문의 사항
-

[2021-10-12 08:12] devsungmin opened #25 "[공지]Dataset 다운로드 관련 문의"
안녕하세요!
2021 훈민정음 한국어 음성•자연어 인공지능 경진대회를 운영하고 있는 Dacon입니다.

대회에서 사용하는 Dataset을 local pc에 다운로드 받는 여부를 많이 물어보셔서 글을 납깁니다.

현재 NSML측에 올라온 Dataset은 NSML 명령어를 통해 다운 받으실 수 없으며, 대회에서 사용한 데이터는 AI-Hub에 올라온 데이터를 기반으로 제작된 Dataset입니다.

따라서 원본 데이터 셋을 다운 받아 NSML에 올라온 Dataset을 유추 해보시는 것은 가능합니다.

다만, 그 과정에서 아래와 같은 현상으로 인해 다운로드 에러가 발생 할 수 있습니다.
[code]

감사합니다.
데이콘드림

[2021-10-12 08:27] dacon-murdoch commented on #24
안녕하세요.
현재 진행 중인 문서요약 task의 경우 외부 데이터의 사용을 금지하고 있습니다.
따라서 train data만을 활용하여 학습을 진행해 주시면 감사하겠습니다.

[2021-10-12 08:27] hyeinhyun commented on #14
@bluebrush 님, 아직도 같은 문제가 해결이 되지 않아 세션을 돌리지 못하고있습니다..ㅠ

[2021-10-12 08:54] #24 closed, assigned to dacon-murdoch

[2021-10-12 09:11] #23 closed, assigned to dacon-murdoch

[2021-10-12 09:13] jonhyuk0922 opened #26 "[NSML] session is already removed."
# 주제
- submit 시 session 에러

# 상황 (자세히 작성해주시면 좋습니다.)
- 학습한 checkpoint로 제출하려고 할때 session이 이미 삭제되었다고 에러가 뜹니다.

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
- dev 팀에 문의하라는 내용이 담겨있습니다.
![스크린샷 2021-10-12 오후 6 13 03](https://user-images.githubusercontent.com/76195885/136927665-949cf6cc-26f6-4f5e-b878-0ff23174326a.png)

# 기타 문의 사항
-

[2021-10-12 10:06] bluebrush opened #27 "[공지] docker image pull 이슈"
docker 사에서 각 IP별로
docker image pull에 대한 rate limit으로 적용으로 인하여 다수의 docker image 생성에 제한이 발생하고 있습니다.  (https://www.docker.com/increase-rate-limits?utm_source=docker&utm_medium=web%20referral&utm_campaign=increase%20rate%20limit&utm_budget= )
내부적으로 Image 최신화를 위해서 보유한 이미지에 대해서 pull을 실행하여 update 여부를 확인하고 있었는데,
이부분을 제거하여 한번 받은 이미지에 대한 update를 확인하지 않도록 수정하여 반영하였습니다.
현재 문제점은 fix되었습니다.

필요한 docker image의 빠른

[2021-10-12 10:08] bluebrush commented on #26
@jonhyuk0922 님, 조치되었습니다. #27 이슈입니다.

[2021-10-12 10:10] bluebrush commented on #17
@ZIZUN 님 조치되었습니다. #27 관련 이슈였습니다.

[2021-10-12 10:10] bluebrush commented on #16
@dan-legit 님, 조치되었습니다. #27 이슈였습니다.

[2021-10-12 10:11] bluebrush commented on #14
@hyeinhyun 님, @cosmoquester 님, 조치되었습니다. #27 이슈였습니다.

[2021-10-12 10:12] bluebrush commented on #4
@P4RK-J4EWOONG 님, 첫 화면의 이슈는 조치되었습니다. #27 이슈였습니다.

[2021-10-12 10:15] ZIZUN commented on #17
@bluebrush 님 방금 다시 run 해봤는데 여전히 같은 상태입니다.
현재 해결된 것이 맞나요?
도커는 #nsml: dacon/nia-tf:1.0  기본 베이스라인 도커입니다.

nsml run -e main.py -d dialogue -g 1
![image](https://user-images.githubusercontent.com/24732802/136937419-7e77657f-9fa4-4b3e-82b1-49ed71417467.png)

[2021-10-12 10:18] KHY13 opened #28 "[NSML] NSML GPU 사용 이슈"
# 주제
-  GPU 사용 관련 이슈

# 상황 (자세히 작성해주시면 좋습니다.)
-  안녕하세요 nsml에 세션을 생성할때  다른 세션에서 gpu를 사용하고 있는 상황도 아닌데 gpu를 사용할때는 세션생성에 실패하고 gpu를 사용하지 않으면 세션이 제대로 생성 되는데 확인 부탁드립니다.
-

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)

![image](https://user-images.githubusercontent.com/55617916/136937510-4db01840-c47a-4d34-a6b1-45995c72e3d6.png)
![image](https://user-images.githubusercontent.com/55617916/136937774-969b791b-01e8-4509-

[2021-10-12 10:22] cosmoquester opened #29 "[NSML] session already removed"
# 주제

- nsml already removed 오류 지속적인 발생

# 상황 (자세히 작성해주시면 좋습니다.)

[code]
nsml run으로 뭔가를 실행하면 실행 코드와 상관없이 위와 같은 오류가 토요일부터 지금까지 지속적으로 발생합니다.
사용하는 이미지는 dacon/nia-pytorch:1.0 입니다.
커맨드를 계속 치다보면 어쩌다 한 번씩 되고 또 계속 안되고 그렇습니다.
그냥 baseline으로 nsml run만 해봐도 에러가 재현됩니다.

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)

-

# 기타 문의 사항

-

[2021-10-12 10:22] #18 closed, assigned to bluebrush

[2021-10-12 10:59] hyeinhyun commented on #27
nsml: dacon/nia-tf:1.0 / nia2016
입니다.

(아직 세션이 돌아가지않고, 오류가 나는건 등록이 안되어서일까요?)

[2021-10-12 11:16] jonhyuk0922 commented on #27
nsml: dacon/nia-tf:1.0 / nia2013 입니다.

[2021-10-12 11:19] BM-K commented on #27
nsml: dacon/nia-tf:1.0 / nia2045 입니다.

[2021-10-12 11:31] nlp-parkwonjae opened #30 "[Dataset] train dataset 에서 Life가 여가생활인가요? 주거와생활인가요?"
# 주제
- train dataset에서 Life의 정확한 의미

# 상황 (자세히 작성해주시면 좋습니다.)
- 학습용 데이터셋으로 5개의 파일을 사용하는데, Edu, Food, Life, Per_Rel, Work를 사용한다고 했습니다.
- AIhub의 원본 데이터셋으로 유추해보아 Edu = 시사교육 / Food = 식음료 / Per_Rel = 개인및관계 / Work = 일과직업로 파악했는데 Life 파일은 여가생활인지 주거와생활인지 명확하게 알 수 없었습니다.

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
-
![image](https://user-images.githubusercontent.com/85141914/136948172-8a5afbcb-2c72-4c02-a366-02b92c0d9

[2021-10-12 11:31] MattYoon commented on #27
nsml: dacon/nia-tf:1.0 / nia2008 입니다.

[2021-10-12 12:11] kabbi159 commented on #27
nsml: dacon/nia-pytorch:1.0 / nia2043 입니다.

[2021-10-12 12:27] dacon-murdoch commented on #30
안녕하세요.
life는 주거와 생활입니다.
감사합니다.

[2021-10-12 13:08] #30 closed, assigned to dacon-murdoch

[2021-10-12 13:10] onestep00 commented on #27
dacon/nia-tf:1.0, dacon/nia-pytorch:2.0 / nia2029
입니다.

[2021-10-12 16:37] Usurper47 commented on #13
저도 안됩니다!

[2021-10-12 17:08] Usurper47 commented on #27
dacon/nia-tf:1.0, nvcr.io/nvidia/pytorch:20.03-py3, nvcr.io/nvidia/tensorflow:20.06-tf2-py3

nia2001

아이디 이슈로 3일 날려서 다급한데, 이 건은 빨리 부탁드립니다..

[2021-10-12 17:19] SeungyounShin commented on #27
nsml: dacon/nia-tf:1.0 / nia2024 입니다.

[2021-10-12 18:01] Usurper47 opened #31 "[NSML] Rejected: not enough credit (balance: 0)"
# 주제
-  크래딧 할당이 안되어 있는 것 같습니다...

# 상황 (자세히 작성해주시면 좋습니다.)
- 세션 생성이 안됩니다.
- 아이디 관련하여, 다음과 같은 이슈를 겪었습니다.
    - https://github.com/hunminjeongeum-korean-competition-2021/dialogue-summarization/issues/19
- 다음과 같은 과정을 거쳐 해결하려고자 시도했으나, (github verify 이슈) 이는 문제가 아닌 것 같습니다.
    - https://github.com/hunminjeongeum-korean-competition-2021/speaker-recognition/issues/13#issuecomment-940103684
    -  https://g

[2021-10-12 22:32] devsungmin commented on #29
#27  해당 이슈와 연관된 문제 인것 같습니다.

감사합니다.

[2021-10-12 22:35] devsungmin commented on #31
해당 내용 NSML측에 전달 하도록 하겠습니다.

감사합니다.

[2021-10-13 00:25] bluebrush commented on #27
nia-tf:1.0 은 완료되어 더 이상 안 올리셔도 됩니다. (아래 이미지는 진행중입니다. 완료되지 않아서 사용은 하실 수 있으니 참고부탁드립니다.)
nvcr.io/nvidia/pytorch:20.03-py3 (진행중, +1시간이내 예상)
nvcr.io/nvidia/tensorflow:20.06-tf2-py3 (진행중, +1시간 전후 예상)

[2021-10-13 01:03] bluebrush commented on #31
@Usurper47 님, credit 설정되었습니다. 계정 재설정 과정에서 credit 누락되었습니다.

[2021-10-13 01:04] #31 closed, assigned to bluebrush

[2021-10-13 01:16] cosmoquester commented on #29
저는 기본제공되는 이미지를 썼는데 해당 이슈인 건가요?

[2021-10-13 01:23] bluebrush commented on #29
네에 모든 이미지에 대해서 update check가 이루어졌으며, 이과정에서 rate limit이 적용되었습니다.

[2021-10-13 02:17] nammyoungjin commented on #27
nsml: dacon/nia-pytorch:1.0 / nia2038 세션 생성이 안됩니다. 관련 이슈라면 해결 부탁드리겠습니다.
<img width="643" alt="스크린샷 2021-10-13 오후 4 28 55" src="https://user-images.githubusercontent.com/33752068/137087181-01a57f94-2307-4986-ac55-a985cdaba6fc.png">

[2021-10-13 02:24] SeungyounShin opened #32 "Tokenzier도 Pretrained 된 것을 사용하면 안되나요?"
예를 들어 HuggingFace 같은 곳에서 가져와도되나요?

_Originally posted by @dan-legit in https://github.com/hunminjeongeum-korean-competition-2021/dialogue-summarization/issues/1#issuecomment-939252666_

[2021-10-13 02:33] SeungyounShin opened #33 "[NSML] NSML Session에 대한 질문"
내부적으로 LM 같이 훈련시킨후 요약에 대해 fine-tunning 한다면
LM 을 훈련시켜 Session 이 종료된 후에도 다른 Session 에서 불러올 수 있나요?

[2021-10-13 02:35] kabbi159 commented on #27
이전과 동일하게 안되는데 dacon/nia-pytorch:1.0 완료가 된 것이 맞는지 확인 부탁드립니다.

[2021-10-13 02:46] taerangi commented on #32
안녕하세요.
본 대회에서는 pre-trained된 tokenizer도 사용 불가합니다.
감사합니다.

[2021-10-13 04:03] SeungyounShin commented on #32
mecab 은 써도되는데 hugging face 는 안되는것인가요?

[2021-10-13 04:13] Usurper47 opened #34 "[NSML] Permission denied 데이터 셋 접근 권한을 주시지 않았습니다."
# 주제
- 데이터 셋 접근 권한을 설정해주세요.

# 상황 (자세히 작성해주시면 좋습니다.)
- 직전 이슈입니다.
- https://github.com/hunminjeongeum-korean-competition-2021/dialogue-summarization/issues/31
    - 대소문자로 인한 nsml 접근 불가 -> 재설정 -> 크레딧 미설정 -> 크레딧 부여 -> 데이터 셋 접근 권한 미설정

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
- 오타인가 싶어서 여러가지 처봤는데 아닙니다.
![image](https://user-images.githubusercontent.com/46472729/137065580-2a47ba93-2dfc-420c-97db-3defc050af66.p

[2021-10-13 04:23] bluebrush commented on #34
@Usurper47 님, 제가 확인해보니, private 설정 변경되어 있는 부분이 확인되어 다시 public으로 변경하였습니다.
이력에 대해서는 관련되신분들께 문의중입니다.
참고로 그림에 첨부하신 리소스는 공용 자원입니다. 현재 대회는 모두 전용자원을 사용하므로 그림의 리소스 영역은 사용하지 않고 있습니다.
10-13 13:24

[2021-10-13 04:43] Usurper47 commented on #27
dacon/nia-tf:1.0, nvcr.io/nvidia/pytorch:20.03-py3, nvcr.io/nvidia/tensorflow:20.06-tf2-py3

nia2001

계정 및 크래딧 재설정으로,  생성 제한에 다시 걸리는 것 같습니다. 재설정 부탁드립니다.

오류 메세지는 같은데, 다른 참가자분들과 진행 이력이 판이하게 달라 확인 부탁드립니다

17:37 아직 해결되지 않았습니다.

https://github.com/hunminjeongeum-korean-competition-2021/dialogue-summarization/issues/34

[2021-10-13 06:03] cosmoquester commented on #29
근데 어째서 #27 에서 완료되었다고하는 nia-tf:1.0 이미지를 사용하는 baseline 코드를 돌려봐도 같은 오류가 계속 발생하는 건가요?

[2021-10-13 06:06] cosmoquester commented on #29
제가 지금 다시 해봐도 1번 정상적으로 실행된 이후에 또 다시 계속 같은 에러가 발생합니다.

[2021-10-13 06:07] cosmoquester commented on #29
[code]

로그 시간을 보시면 아시겠지만 방금 막 실행한 결과입니다.

[2021-10-13 06:16] bluebrush opened #35 "[공지] NSML CLI update 진행"
### 제목 : NSML CLI update 진행

### 시간 : 10/13 15:14 ~ 15:40 사이

### update 이후, CLI login 다시 해야함.

### 변경 사항
`nsml status -vr` 권한 level 변경

[2021-10-13 07:03] ZIZUN commented on #35
제가 테스트해봤는데
![image](https://user-images.githubusercontent.com/24732802/137083257-c3c11f43-47b9-463f-899b-5d561c858575.png)
run 또는 submit 할 때마다 The total number of available GPUs 개수가 하나 작아집니다.
그런데 세션은 빌드되지않고 꺼지네요.
![image](https://user-images.githubusercontent.com/24732802/137083447-b746066f-35c5-48a1-b7b2-270163ebe137.png)

[2021-10-13 08:47] KHY13 opened #36 "[Dataset] 토크나이저 생성 관련"
# 주제
- 토크나이저  생성 관련

# 상황 (자세히 작성해주시면 좋습니다.)
- 토크나이저를 만들때 NSML상에 있는 학습데이터만을 사용해야 하나요? Aihub에서 다운 가능한 학습데이터로 생성해도 괜찮은지 궁금합니다.

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
-

# 기타 문의 사항
-

[2021-10-13 08:53] vetaerang commented on #36
@KHY13 안녕하세요.
토크나이저를 만들 때도 NSML에 업로드되어있는 학습데이터만 사용해주셔야 합니다.
감사합니다.

[2021-10-13 08:57] KHY13 commented on #36
@taerangi 넵 감사합니다.

[2021-10-13 08:57] #36 closed, assigned to vetaerang, dacon-murdoch

[2021-10-13 09:47] Usurper47 opened #37 "[NSML] 다른 팀분들께 여쭤봅니다. 10월 13일 18시 기준 정상적으로 작업 가능하신가요?"
# 주제
- 현재 정상적으로 작업 중인 팀의 수가 궁금합니다.

# 상황 (자세히 작성해주시면 좋습니다.)
- 대회 5일차
- 20팀 중 10팀이 제출했고, 2회 이상 제출한 팀이 3팀으로 매우 적습니다.

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
- 현황을 알아야 제쪽에서 해결할 수 있는 문제인지 파악할 수 있을 것 같습니다.
- 이게 다들 안되는건지 저만 안되는건지 알고싶습니다. ㅠㅠ
- 답글로 알려주세요! 부탁드립니다!

# 기타 문의 사항
-

[2021-10-13 09:51] onestep00 commented on #37
저는 수정 없는 코드로 됐다가 안됐다가 합니다.

[2021-10-13 09:52] kabbi159 commented on #37
저희 팀은 16시 51분까지 안되는 것 확인하고, 18시 12분에 Session 시작 성공하였습니다.

[2021-10-13 09:59] bluebrush commented on #35
@ZIZUN 님, 다시 시도해보시면 session 정상적으로 build될 것으로 예상됩니다.

자원 현황은
참여하시는 문제별 자원 Pool 정보입니다.
`nsml ps`와 함께 자원 상황을 파악하실 수 있을 것 같습니다.
session 종료 후, 자원 반납까지는 길때는 1~3분 정도 예상됩니다.
세션 종료 후 재실행에서 바로 다시 실행되지 않을 수 있습니다.

[2021-10-13 10:09] ZIZUN commented on #37
저는 지금 정상적으로 돼요

[2021-10-13 10:11] ZIZUN commented on #35
@bluebrush 님 지금은 정상적으로 잘 됩니다. 감사합니다.
원인이 무엇이었나요..?

암튼 또 문제 생기면 말씀드릴게요 고생하셨어요.!

[2021-10-13 10:23] Usurper47 commented on #37
와 저는 19시 이전까지 안되다가 지금 되네요. 설정 변경은 없었습니다.

[2021-10-13 10:27] ZIZUN commented on #37
다들 화이링

[2021-10-13 10:46] #37 closed, assigned to nobody

[2021-10-13 10:46] #34 closed, assigned to bluebrush

[2021-10-13 10:47] #13 closed, assigned to bluebrush

[2021-10-13 10:47] #17 closed, assigned to bluebrush

[2021-10-13 12:39] hyeinhyun commented on #9
@dacon-murdoch 안녕하세요, 메캅 토크나이저 사용방법 최대한 빠르게 답변 부탁드리겠습니다 :) 감사합니다.

[2021-10-13 13:39] KyungHyunLim opened #38 "[NSML] Inference 방식 (동작 과정)"
# 주제
-  Inference 방식 (동작 과정)

# 상황 (자세히 작성해주시면 좋습니다.)
- nsml submit session_name checkpoint_num 으로 제출을 하게 되는데, 이때 inference가 어떤식으로 동작을 하는지 궁금합니다.
- 저희가 두개의 다른 세션에서 각각 tokenizer와 model을 불러와야하는데 이 과정을 어떻게 적용해야할 지 몰라서 문의합니다.

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
- submit 하는 checkpoint를 생성했던 main 함수에서 if args.mode == 'train' : 이전 까지 실행이 되고, bind 되어있는 inference 함수가 실행이 되는 걸까요?
- 아니면, submit 하는 checkpoint를

[2021-10-13 17:44] cosmoquester commented on #29
왠지 모르겠지만 지금은 되네요. 문제가 해결이 된건지 일시적으로 되는건지는 모르겠지만?

[2021-10-14 02:27] hyeinhyun opened #39 "[NSML] 메캅 토크나이저 사용 관련 문의"
# 주제
-

# 상황 (자세히 작성해주시면 좋습니다.)
- 안녕하세요 #9 에서 여쭤본 메캅토크나이저 사용 여부 및 사용 방법에 대해 설명 부탁드립니다.
( 저희 요약 팀은 커스텀 도커를 사용할 수가 없어 메캅사용을 위한 외부데이터를 nsml에 올릴 수 없는것으로 알고있습니다. )

감사합니다.
# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
-

# 기타 문의 사항
-

[2021-10-14 05:01] vetaerang commented on #1
답변 정정드립니다.
pre-trained tokenizer 사용 가능합니다. (기존에 사용 불가하다고 답변 드렸었습니다.)
혼동 드려 죄송합니다.

[2021-10-14 05:04] vetaerang commented on #32
@SeungyounShin 답변 정정드립니다.
pre-trained tokenizer 사용 가능합니다. (기존에 사용 불가하다고 답변 드렸었습니다.)
hugging face에서 tokenizer 가져와서 사용 가능합니다.
추가로, hugging face에서 모델을 가져와서 사용할 경우 weight를 초기화한 상태로 사용해주셔야 합니다. (모델은 pre-trained 사용불가)
혼동 드려 죄송합니다.

[2021-10-14 05:11] vetaerang commented on #39
@hyeinhyun 안녕하세요.
Custom Docker 사용 가능합니다.
konlpy [공식문서](https://konlpy.org/ko/latest/install/#ubuntu) 참고하셔서 도커 이미지 빌딩 후,
setup.py 상단에 `#nsml: custom_docker_repo_name`  형식으로 써주시면 해당 도커 이미지 환경으로 실행됩니다.
`nsml run` 실행시 setup.py는 main.py와 같은 경로에 있어야 합니다.
감사합니다.

[2021-10-14 05:12] vetaerang commented on #9
@hyeinhyun 안녕하세요.
Custom Docker 사용 가능합니다.
konlpy [공식문서](https://konlpy.org/ko/latest/install/#ubuntu) 참고하셔서 도커 이미지 빌딩 후,
setup.py 상단에 `#nsml: custom_docker_repo_name` 형식으로 써주시면 해당 도커 이미지 환경으로 실행됩니다.
`nsml run` 실행시 setup.py는 main.py와 같은 경로에 있어야 합니다.
감사합니다.

[2021-10-14 05:34] vetaerang commented on #38
@KyungHyunLim 안녕하세요.
`nsml submit`을 실행하면, 다음 절차에 따라 진행됩니다.
1. main.py 실행 (`if args.mode == 'train' :` 이전까지 실행되며, 이 때 `bind_model()`이 실행되어야 합니다.)
2. `bind_model()` 후 `nsml.paused()` 실행
3. `bind_model()`에서 정의한 `load()` 함수 실행
4. `bind_model()`에서 정의한 `infer()` 함수 실행
(매개변수로 test 데이터셋의 경로를 받게 되며, 리턴 값은 **[(확률, 요약생성문)]** 형태여야 합니다.
확률값은 score에 영향을 미치지 않으니 아무 값이나 넣어주셔도 됩니다.)
5. `infer()`로 반환한 요약생성문에 대해 평가

[2021-10-14 05:36] hyeinhyun commented on #39
넵 감사합니다:)

[2021-10-14 05:36] #39 closed, assigned to bluebrush, vetaerang

[2021-10-14 06:19] #38 closed, assigned to bluebrush, vetaerang

[2021-10-14 07:01] ziggy321 opened #40 "[NSML] 답변이 없어서 다시 문의 드립니다."
# 주제
- Error: An error occurred while initializing user information. Please contact dev team

# 상황 (자세히 작성해주시면 좋습니다.)
- 캡쳐와 같은 에러가 발생합니다. 말씀 주신 대로 nsml login, nsml whoami, nsml run 모두 캡쳐한 사진을 올렸습니다.

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
-
<img width="570" alt="136886290-05a6544c-0ba3-4ded-838f-cb787eb883d5" src="https://user-images.githubusercontent.com/46099642/137266619-86d1a433-9ec4-4232-b91f-82e05

[2021-10-14 07:11] nammyoungjin commented on #33
https://n-clair.github.io/ai-docs/_build/html/ko_KR/contents/load_model.html
여기 내용 확인해보시면 될것같아요

[2021-10-14 07:25] devsungmin commented on #39
안녕하세요 @hyeinhyun님

Docker와 관련된 글은 [NSML Docker Custom Image 만드는 방법](https://github.com/hunminjeongeum-korean-competition-2021/docs/blob/main/DockerImage.md)을 참고 부탁드립니다.

감사합니다 :)

[2021-10-14 08:13] bluebrush commented on #40
@hongjehong 님, 확인이 늦었습니다. 조치되었습니다.

[2021-10-14 08:30] ziggy321 commented on #40
@bluebrush 확인했습니다. 감사합니다.

[2021-10-14 08:30] ziggy321 commented on #22
@bluebrush 확인했습니다. 감사합니다.

[2021-10-14 08:31] #22 closed, assigned to bluebrush

[2021-10-14 08:31] #40 closed, assigned to bluebrush

[2021-10-14 08:42] nammyoungjin commented on #6
<img width="766" alt="스크린샷 2021-10-14 오후 5 37 38" src="https://user-images.githubusercontent.com/33752068/137281977-81199a30-58ff-4347-960b-60730bf3fd2f.png">

위의 데이터 포맷에 맞춰

est_result = pd.DataFrame( {'id': test_dialogue_id, 'summary': test_summary})
return test_result

다음과 같이 코드를 작성하였습니다. 하지만 추론시 다음과 같은 에러가 발생했습니다.

<img width="750" alt="스크린샷 2021-10-14 오후 5 38 27" src="https://

[2021-10-14 08:55] #32 closed, assigned to vetaerang

[2021-10-14 10:34] #28 closed, assigned to bluebrush

[2021-10-15 01:22] onestep00 opened #41 "[NSML] inference 결과 제출 포맷"
# 주제
- infer() 함수의 제출 포맷

# 상황 (자세히 작성해주시면 좋습니다.)
- infer() 결과 포맷

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
- [dialogue-summarization README.md](https://github.com/hunminjeongeum-korean-competition-2021/dialogue-summarization#readme) 의 설명은 다음과 같고

***
- https://github.com/hunminjeongeum-korean-competition-2021/dialogue-summarization/issues/38#issuecomment-942972337 이 답변은 다음과 같습니다.

***
- 둘중에 어떤 방식이어야 하는지,

[2021-10-15 02:20] vetaerang commented on #41
@onestep00 안녕하세요.

리턴 값은 [(확률, 요약생성문)] 형태여야합니다.
ex) [(0, '철수는 점심을 먹었다.'), (0, '짱구는 학원에 갔다.') ... ]

위의 포맷에서 요약생성문만 가져와서 채점하도록 되어있습니다.
확률 값은 점수에 영향이 없으므로 아무 값이나 넣어주셔도 무관합니다.

감사합니다.

[2021-10-15 02:20] #41 closed, assigned to vetaerang

[2021-10-15 07:43] dan-rtzr commented on #1
@taerangi 그렇다면 외부 공개된 데이터로 직접 tokenizer를 학습시켜서 사용해도 되나요?

[2021-10-15 15:38] hyeinhyun commented on #32
@taerangi 안녕하세요, 한번더 확인을 위해 여쭤봅니다.
토크나이저의 경우 개인적으로 수집, 가지고 있는데이터로 학습된 토크나이저를 hugging face에 올려서 사용할 수 있다는말이 맞나요?

[2021-10-16 08:38] Usurper47 opened #42 "[Dataset] 사용가능 컬럼 문의"
# 주제
- data에 들어있는 모든 정보 ( type, topic, gender, residentialProvince)를 학습과 추론에도 사용 가능한가요?

# 상황 (자세히 작성해주시면 좋습니다.)
- train 및 test 데이터에 존재하는 몇몇 컬럼은, 대화 이외의 추가적인 주제를 포함합니다.
- 대화 전반의 상황을 반영하는 주제나 유형이 있습니다.
- 단순 대화 텍스트로는 알 수 없는 정보인 성별과 지역 등의 부가적인 정보가 있습니다.

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
- 이들을 모델의 학습과 추론에 사용해도 될까요?
- 기타 컬럼에 대한 허용 여부도 자세히 알고 싶습니다.

# 기타 문의 사항
- 토크나이저 허용으로 변경된 이슈를 공지해주실 수 있을까요?

[2021-10-16 08:39] Usurper47 commented on #10
평가 스크립트 어디서 확인할 수 있을까요?

[2021-10-16 19:22] sohyunwriter commented on #3
@bluebrush 잘못 초대된 soyoung 계정 취소 부탁드립니다!

[2021-10-17 13:24] KyungHyunLim opened #43 "[NSML] gpu가 계속 사용중이라고 뜹니다!"
# 주제
- gpu가 계속 사용중이라고 뜹니다!
- The GPU limit was exceeded (max: 1, usage: 1, requested: 1)

# 상황 (자세히 작성해주시면 좋습니다.)
- 제가 test로 제출을 해보려다 명령어에 -t를 붙이는 것을 깜빡하고, 명령어를 실행 후 crtl+z로 바로 중지 시켜버려습니다. 그런데 gpu가 반환 되지 않고 계속 The GPU limit was exceeded (max: 1, usage: 1, requested: 1) 오류가 떠 test를 진행하지 못하고 있습니다!

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
-

# 기타 문의 사항
-

[2021-10-17 13:35] #43 closed, assigned to bluebrush

[2021-10-17 13:35] KyungHyunLim commented on #43
해결하였습니다!

[2021-10-17 17:23] ZIZUN opened #44 "[NSML] 공개된 사전학습 모델 허용 해주시면 안될까요?"
# 주제
- 공개된 사전학습 모델 허용 해주시면 안될까요?

# 상황 (자세히 작성해주시면 좋습니다.)
- 훈련셋은 데이터가 너무너무 적고 이것만으로는 생성모델 학습이 솔직히 불가능한 것 같은데요..
- rouge L 계산식에 맞게, 학습데이터의 요약문을 통계적으로 분석해서
- "싶다며 있는지 이에 대해 해야 한다는 거라고 안 될 것 같다고 하자고 좋겠고 있었다고 이야기를 얘기를 하고 한다. 있다."
- 값을 test 결과값으로 넣으니 10.9로 오히려 좋게 나오는 것 같아요..
- 사전학습 없이 생성 테스크를 하기는 어렵다고 생각합니다. 허용해주셔서 더 재밌는 대회가 되었으면 좋겠습니다 ㅠ

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
-

# 기타 문의 사항
-

[2021-10-17 23:47] Cho-Geonwoo commented on #44
위에 말씀해주신 바와 같이 답을 fix하여 제출하는 것은 답안 수기 작성이라는 규칙에 위배되지 않나요? @bluebrush

[2021-10-18 01:12] vetaerang commented on #1
@dan-rtzr 네 가능합니다.

[2021-10-18 01:13] vetaerang commented on #42
@Usurper47 안녕하세요.
data에 들어있는 모든 정보 ( type, topic, gender, residentialProvince)는 학습과 추론에 사용 가능합니다.
토크나이저 관련 내용은 오늘 중으로 정리하여 공지 올릴 예정입니다.
감사합니다.

[2021-10-18 01:13] #42 closed, assigned to vetaerang, dacon-murdoch

[2021-10-18 01:17] vetaerang commented on #44
@ZIZUN 안녕하세요.
규정상 사전학습 모델을 사용하는 것은 불가합니다. 다만, 사전학습된 Tokenizer는 사용 가능합니다.
감사합니다.

[2021-10-18 01:17] #44 closed, assigned to vetaerang

[2021-10-18 01:18] vetaerang commented on #44
@Cho-Geonwoo 학습된 모델의 추론 결과로 나온 값이 아닌, 수기로 정답값을 입력하는 경우 답안 수기 작성에 해당하여 실격처리됩니다.

[2021-10-18 01:18] #1 closed, assigned to vetaerang

[2021-10-18 01:28] vetaerang opened #45 "[공지] Pre-trained Tokenizer 사용 관련 공지"
안녕하세요. 본 대회를 운영하고 있는 데이콘입니다.

**본 대화요약 대회에서는 Pre-trained Tokenizer 사용이 가능합니다.**
Konlpy, Mecab, HuggingFace Tokenizer 등 오픈되어 있는 Pre-trained Tokenizer뿐만 아니라,
개인적으로 학습시킨 Tokenizer도 사용 가능합니다.
Tokenizer를 학습시키기 위해 외부데이터를 사용하는 것도 허용합니다.

**다만, Pre-trained 모델 및 모델 학습 단계에서의 외부데이터 사용은 불가합니다.**
기존에 존재하는 모델을 사용하실 때에는 weight를 초기화한 뒤, 아키텍쳐만 가져와서 사용하셔야 합니다.

감사합니다.

[2021-10-18 01:47] ZIZUN commented on #44
@taerangi 어.. 그럼 혹시 제 스코어 초기화 가능하실까요?? 전 바로 실격인가요?

[2021-10-18 02:27] #4 closed, assigned to bluebrush

[2021-10-18 02:27] #20 closed, assigned to bluebrush

[2021-10-18 02:29] Usurper47 commented on #44
통계적 분석도 일종의 모델로 볼 수 있을 것 같습니다.
가령 LDA로 특정 토픽을 뽑아서 토픽 내부의 워드를 출력값으로 넣는 것은 문제가 되지 않는 것처럼요.
모델 학습이 잘 안돼서 1위분 솔루션이 굉장히 궁금했는데, 손해가 될 수 있음에도 이렇게 이슈화 해주셔서 감사합니다.

[2021-10-18 03:27] ZIZUN commented on #44
@Usurper47 ㅎㅎ 아녜요. 꼭 1등하시길 바랍니다!!

[2021-10-18 05:08] bluebrush opened #46 "[NSML/submit/공지] dafult 자원 할당 변경건"
nsml submit 시 기본 할당 자원 변경

변경전 : CPU RAM 24GB , CPU core 2 core
변경후 : CPU RAM 60GB, CPU core 7 core

[2021-10-18 07:12] Usurper47 commented on #46
와! 감사합니다1!!!!

[2021-10-18 12:41] nammyoungjin opened #47 "[NSML] TEST SET의 데이터 순서 관련 문의"
# 주제
- 테스트 셋 데이터 순서가 제대로 맞춰져있는지 확인바랍니다.

# 상황 (자세히 작성해주시면 좋습니다.)
- 테스트 셋 데이터 순서가 제대로 되어있는지 의문을 품고 있습니다. 그 이유는 다음과 같습니다.
- 1. 채점 데이터를 제출하는 infer() 코드에서 dialogueID를 입력하는 부분이 없고, test json file을 glob.sort()로만 정렬하는 것에 의문이 생겼음
- 2. 현재 리더보드를 보았을 때 1점 만점을 기준으로 스코어가 모두 현저하게 낮음
- 3. 가장 결정적인 이유입니다. 동일한 모델로 test batch를 Shuffle하여 제출하였는데, 오히려 Score가 상승하는 현상이 일어났습니다.
- 4. https://github.com/hunminjeongeum-korea

[2021-10-19 02:59] #14 closed, assigned to bluebrush

[2021-10-19 02:59] #16 closed, assigned to bluebrush

[2021-10-19 02:59] #26 closed, assigned to bluebrush

[2021-10-19 02:59] #29 closed, assigned to bluebrush

[2021-10-19 02:59] #33 closed, assigned to bluebrush

[2021-10-19 05:44] vetaerang commented on #44
@ZIZUN 당장 실격 처리되지는 않고,
예선 종료 후 참가자들의 최종제출물 코드 검증 과정에서 cheating 요소가 있을 경우 실격 처리할 예정입니다.
리더보드에 올라갈 최종 제출물에서 cheating 요소가 없도록 신경써주시면 됩니다.

[2021-10-19 06:41] ZIZUN commented on #44
@taerangi 오오.. 기회를 주셔서 감사합니다 ㅎㅎ 귀찮게 해드려 죄송해요! 최선을 다해봐야겠어요.

[2021-10-19 06:55] vetaerang commented on #47
@nammyoungjin 안녕하세요.
infer 과정에서 id 매칭이 안되서 문의주신 이슈가 발생한 것으로 파악됩니다.
id가 정확히 매칭되도록 평가 산식을 수정중에 있으니 조금 기다려주시기 바랍니다.
평가 산식 수정 후 해당 내용 관련하여 공지 사항 게시할 예정입니다.
혼란을 드려 죄송합니다.

[2021-10-19 08:40] vetaerang opened #48 "[공지] 평가산식 오류 수정에 따른 리더보드 초기화 및 재제출 안내_수정_10.20.14:24"
안녕하세요. 본 대회를 운영하고 있는 데이콘입니다.

infer 과정에서 제출물과 정답 파일 간에 id 매칭이 제대로 이루어지지 않는 문제점을 발견했습니다.

**해당 문제를 해결한 평가산식을 새로 업데이트 하였고, 이에 따라 리더보드가 초기화 되었음을 알려드립니다.**

기존 리더보드(2021년 10월 19일 17시30분 기준)는 아래 이미지를 참고해주시기 바랍니다.
![리더보드1(1019_1730)](https://user-images.githubusercontent.com/60762935/137873698-efea2b3e-7ad6-4af2-a337-1306cff44e50.png)
![리더보드2(1019_1730)](https://user-images.githubusercontent.com/6076293

[2021-10-19 08:56] #47 closed, assigned to vetaerang

[2021-10-19 09:03] KyungHyunLim opened #49 "[NSML] ROUGE 평가 코드 제공이 가능할까요?"
# 주제
- ROUGE 평가 코드 제공이 가능할까요?

# 상황 (자세히 작성해주시면 좋습니다.)
- ROUGE 평가 코드 제공이 가능할까요?

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
- ROUGE 평가 코드 제공이 가능할까요? gpu가 1대 밖에 없는 상황에서 최적의 모델을 선택하기 위해서 평가코드가 제공되면 좋을것 같습니다.

# 기타 문의 사항
-

[2021-10-19 09:44] vetaerang commented on #47
@nammyoungjin #48 공지사항 확인 부탁드립니다.

[2021-10-19 10:31] sohyunwriter opened #50 "[NSML] 리더보드 초기화 후 submit이 안 됩니다"
# 주제
- 리더보드 초기화 후 submit이 안 됩니다.

# 상황 (자세히 작성해주시면 좋습니다.)
![image](https://user-images.githubusercontent.com/44013936/137892504-8ce3526c-0812-44e4-bfe3-831ec9f9bb6a.png)

-submit 할 때 /data/dialogue/evaluation.py 코드에 문제가 있다고 뜹니다.

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
- 리더보드 초기화 과정에서 evaluation 코드에 오류가 있는 것 같습니다.
- 해당 코드는 저희쪽에서 볼 수가 없는데 수정 부탁드립니다.
- 또, evaluation 코드 공유해주실 수 있을까요?

# 기타 문의 사항
-

[2021-10-19 10:37] bluebrush commented on #50
@taerangi 님, 확인부탁드립니다.

[2021-10-19 10:40] Usurper47 commented on #50
베이스라인 새로 받아서 진행했는데 동일했습니다.
![image](https://user-images.githubusercontent.com/46472729/137893804-6da8b724-2a5d-4d15-9e7a-1abef19056a0.png)

[2021-10-19 11:17] nammyoungjin commented on #47
확인하였습니다. 감사합니다!

[2021-10-19 11:18] dan-rtzr opened #51 "[NSML] 파일 시스템 사용"
# 주제
- nsml 파일 시스템 사용

# 상황 (자세히 작성해주시면 좋습니다.)
- 현재 pretrained 모델 학습, fine-tuning 학습을 나눠서 진행하려고 하는데요. 이 때 tokenizer 파일, pretrained 모델의 checkpoint 등을 저장해야 합니다. 여러 개의 파일을 서로 다른 상황에서 저장하고 불러와야 하는데 nsml.bind/save/load의 주어진 예제만으로는 어떻게 사용해야 할 지 모르겠습니다.
- 예를 들면 main 함수 초반에는 tokenizer 파일을 저장해야 하고, 후반에는 모델의 체크포인트들을 저장해야 합니다. 또한 저는 현재 hugging face의 trainer를 사용하여 학습을 진행하고 있는데, 이 경우 자동으로 로컬 파일시스템에 checkpoint가

[2021-10-19 11:28] onestep00 commented on #51
저는 pytorch lightning을 이용하고 있는데, 커스텀 콜백을 만들어 모델을 저장하고있습니다. 콜백에서 nsml.save 를 직접 호출하는식으로 사용중입니다.

[2021-10-19 11:30] dan-rtzr commented on #51
@onestep00
감사합니다.
그렇다면 모델 저장하는 함수 외에 다른 것을 저장하는 메쏘드를 만들어서 두개를 사용할 수는 없겠죠? save에 한 개의 함수만 바인딩 시켜야 하니까요?

[2021-10-19 11:38] onestep00 commented on #51
nsml.save 에 바인드시키거나 save_fn 에 지정한 함수 안에서 모델, 토크나이저등 한번에 저장하시면 될것같습니다.
시점이 달라서 여러 함수를 nsml.save 에 바인드시키고싶으시면 저장 시점에 명시적으로 nsml.save(save_fn=함수) 로 지정해서 사용하면 여러 함수를 동적으로 nsml.save에 연결할 수 있었습니다.

[2021-10-19 11:43] vetaerang commented on #50
@Usurper47 @sohyunwriter 해당 문제 조치중입니다. 잠시만 기다려주세요! 죄송합니다.

[2021-10-19 11:52] ZIZUN commented on #51
비인딩 함수를 여러개 만들어서(ex 토크나이저용, 모델용) 바인딩하고 save or load하고 다른함수로 바인딩하고 save or load할수있습니다. 저는 그런식으로 하는중입니다

[2021-10-19 12:12] dan-rtzr commented on #51
@ZIZUN 감사합니다. 그럼 궁금한게 있는데요, 아래와 같이 두개의 바인딩 함수를 만든다고 했을때 각각의 save와 load를 어떻게 사용해야 할까요? 이렇게 접근하는게 맞는건가요?

[code]

[2021-10-19 12:23] onestep00 commented on #51
호출하기전에 매번 바인딩 함수를 호출하면 되긴 합니다.
### 예시
[code]
저는 그래서 bind 하는 대신 `nsml.save("checkpoint", save_fn=save)` 이런식으로 nsml.save 호출할때 그냥 함수를 같이 넣어서 호출했습니다.
`nsml.save(load)` 호출 시 우선순위가 1. save(load)_fn 2. bind 3. 내부 디폴트 로 작동한다고 해서요.

[2021-10-19 12:45] dan-rtzr commented on #51
계속 답변 달아주셔서 감사합니다! 저도 save_fn을 사용하려는데요, 2가지 의문점이 있습니다. 아래와 같은 함수를 만들어서 사용한다고 할 때,
1. dir_name 파라미터는 어떻게 save_fn에 전달하는가?
2. tokenizer나 model 같은 object는 어떻게 save_fn 안에서 사용해야 하는가? (아래 예시 같은 경우는 tokenizer 객체는 위에서 global하게 선언되긴 했지만 이렇게 사용하는게 맞는지 모르겠습니다.)

일단 이렇게 사용하는게 아닌거 같습니다. 실행해보니 에러가 나네요. 혹시 도움 주실 수 있다면 감사하겠습니다. 혹은 예시 코드로 주셔도 좋을 거 같습니다!

[code]

[2021-10-19 12:46] hyeinhyun commented on #50
@taerangi 안녕하세요, 제출을 진행했는데 0.00 점이 나옵니다. 제출한 팀이 다 이점수가 나온것같네요.
함께 확인부탁드립니다 :)

[2021-10-19 13:08] onestep00 commented on #51
1. `nsml.save` 의 첫번째 인자가 전달되는 것 같습니다.
2. 저는 아래 예시처럼 wrapper 함수를 만들어서 미리 전달했습니다.

[code]

제 코드는 이렇습니다.
함수 `nsml_save`에 필요한 변수들을 넘겨놓고 `nsml_save`에서 준 변수를 받은 `inner_save`가 `save_fn`에 전달됩니다.
`filepath`는 `nsml.save`에서 넘겨주게 됩니다.
저장할 때 다른 변수들을 사용하기 때문에 wrapper 를 만든 것 말고는 같은 구조인 것 같은데 어떤 오류가 나시나요?

[2021-10-19 13:39] dan-legit commented on #43
혹시 어떻게 해결하셨나요? 저도 계속 할당중이라고 나와서요!

[2021-10-19 13:44] dan-legit commented on #43
nsml rm 으로 삭제되는군요ㅎㅎ

[2021-10-19 14:35] KyungHyunLim commented on #43
넵!
nsml ps 로 돌아가고 있는 세션확인하고
nsml rm으로 삭제해주었습니다!

[2021-10-20 04:25] vetaerang commented on #50
@hyeinhyun @Usurper47 @sohyunwriter 해당 문제 조치되었습니다. 다시 제출 시도해주시기 바랍니다.

[2021-10-20 04:25] #50 closed, assigned to bluebrush

[2021-10-20 05:14] vetaerang commented on #50
evaluation 파일은 공개가 어렵습니다. 죄송합니다.

[2021-10-20 05:16] vetaerang commented on #49
평가 코드는 제공이 어렵습니다. 도움 드리지 못해 죄송합니다.

[2021-10-20 05:16] #49 closed, assigned to bluebrush

[2021-10-20 05:50] vetaerang opened #52 "[공지] 평가 산식 오류 해결 및 리더보드 정상화 안내"
안녕하세요.
한국어 음성·자연어 인공지능 경진대회 대화요약 부문 참가자 여러분.

먼저, 10월 19일 발생한 부문 평가 산식 오류과 관련하여 다시 한 번 심심한 사과를 드립니다.
대회 운영에 있어 오류가 재발생하지 않도록 보다 세심한 검토를 약속드리며,
아래와 같이 문제 해결 과정에 대해 공유드립니다.

----------------------------------------
1) 문제상황
- 문제: 제출 수 대비 score가 많이 향상되지 않는 현상 파악
- 원인: 평가코드(데이터처리 + 평가산식) 중 데이터처리 코드에 테스트셋과 평가셋의 결과들을 대조하기 위한 인덱싱 부재 발견

2) 조치 내용
평가코드 중 데이터처리 코드에 대조를 위한 인덱싱 추가 조치

3) 문제 해결 결과
10월 20일 14:00

[2021-10-20 05:56] devsungmin commented on #52
@hunminjeongeum-korean-competition-2021/team-2

[2021-10-20 05:58] devsungmin commented on #48
@hunminjeongeum-korean-competition-2021/team-2

[2021-10-21 16:31] dan-rtzr commented on #51
@onestep00 @ZIZUN @taerangi @bluebrush
어제 답변 주셔서 체크포인트에 모델과 토크나이저가 저장이 잘 되었습니다. 감사합니다.
문제는 프리트레인 모델 학습을 완료한 뒤 fine-tuning을 위해 새로운 세션을 열어서 새로운 학습 코드를 실행하려고 합니다. 그래서 완료된 세션에서 모델을 불러오려고 하는데요, 문제는 그 세션에 저장된 체크포인트 로드가 안되서 도움을 구합니다.

[code]

이렇게 세션을 정하고 체크포인트를 정해서(ex. 64) 로드를 하려고 하는데, 경로를 못찾더라고요. 그래서 os.listdir을 하니 현재 세션의 python 코드 파일만 존재하고 해당 세션에서 저장된 체크포인트 경로는 보이지 않더라고요. 다른 세션에 저장된 프리트레인 모델을 로드해서 fine

[2021-10-21 23:37] onestep00 commented on #51
load_fn에 함수를 전달할 때 함수의 return이 아닌 함수 자체를 전달해야 할 것 같습니다.

[2021-10-22 00:10] dan-rtzr commented on #51
@onestep00 감사합니다. 잘 되네요! 이슈 close 하겠습니다.

[2021-10-22 00:10] #51 closed, assigned to bluebrush

[2021-10-22 03:29] dan-rtzr opened #53 "[NSML] nsml submit 관련"
@taerangi

# 주제
- nsml submit 시 docker container 가동이 안됩니다.

# 상황 (자세히 작성해주시면 좋습니다.)
- 모델 학습은 모두 완료되고 해당 세션 내에 load, infer에 대해서 bind를 모두 시켜두었습니다. 그리고 nsml submit으로 제출하려는데 해당 세션의 컨테이너가 없다고 나옵니다. 혹시 아시는 분 있으면 도움 부탁드립니다.

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
**nsml submit 로그**
[code]
**nsml 세션 로그**
![image](https://user-images.githubusercontent.com/89378766/138388805-3c691574-25e1-4184-9b10-b0a2c6bd7e17.p

[2021-10-22 03:31] dan-rtzr commented on #53
계속 도와주셨는데, 실례겠지만 그래도 도움을 구하고자 태그해보겠습니다.
@onestep00 @ZIZUN

[2021-10-22 03:44] bluebrush commented on #53
@dan-rtzr 님,
submit 규격이 GPU 1, CPU 7장 인데요.
nia2021/dialogue/183 이 GPU 0으로 학습하신 세션으로 확인됩니다. GPU 1장을 포함해서 학습하셔야 submit이 가능할 것으로 보입니다. -g 0으로 학습하지 않으시면 될 것 같습니다.

[2021-10-22 08:32] ZIZUN commented on #53
@dan-rtzr 님 이럴 경우에는, -g 1 설정으로 다른 세션에있는 finetune된 모델을 가져와서 새로운 세션에 다시 저장하시고 inference하시면 될거같아요.

[2021-10-22 08:57] dan-rtzr commented on #53
말씀해주신대로 잘 해결했습니다. 이슈 close 하겠습니다.

[2021-10-22 08:57] #53 closed, assigned to bluebrush

[2021-10-24 09:09] lakahaga opened #54 "[NSML] nsml submit 관련"
# 주제
-

# 상황 (자세히 작성해주시면 좋습니다.)
- inference가 다 돌아가도 제출이 되지 않습니다. return 값은 baseline 코드와 동일하게 작성했고, id, summary 모두 string인 것을 확인했습니다.
- multiprocessing 으로 inference를 해서 순서대로 정렬하기 위해 dataframe idx를 이용하여 summary를 정렬했습니다.
- 다 돌아가도 write output이라는 메시지가 뜨고, 리더보드에는 올라가지 않는데 어떤 것이 잘못된 건지 알려주실 수 있을까요?

# 내용 (첨부 가능한 이미지 추가해주시면 더 좋습니다.)
-
![스크린샷 2021-10-24 오후 6 07 51](https://user-images.githubuserco

[2021-10-24 09:10] lakahaga commented on #54
test_idx는 (해당 원문의 dataframe index, summary) 튜플로 구성된 list 입니다.

[2021-10-24 11:25] #54 closed, assigned to bluebrush

[2021-10-24 14:03] bluebrush opened #55 "예선 마감시간 leaderboard"
![image](https://user-images.githubusercontent.com/12540235/138597631-09892baa-78dc-4fda-812a-bff258069066.png)

[2021-10-26 03:49] vetaerang opened #56 "[공지] 예선 코드 검증 및 최종 결과 발표 일정 안내"
안녕하세요. 한국어 음성·자연어 인공지능 경진대회 운영진입니다.

우선, 본 대회의 예선을 치르느라 고생 많으셨습니다.
운영 과정에서 있었던 오류들이나 미흡한 점들에 대해 다시 한 번 사과의 말씀 드리며,
본선 과정에서는 더 원활한 대회 진행이 가능하도록 힘쓰겠습니다.

예선 코드 검증 및 최종 결과 발표 일정에 대해 안내 드리겠습니다.

---------------------------------------------------------------

### **1. 예선 코드 검증 안내**
예선 코드 검증은 리더보드 제출물에 사용된 파일들(`main.py` 등)을 대상으로 진행됩니다. (NSML 제공)
따라서 **별도의 이메일 제출은 하지 않으셔도 됩니다.**
(기존 대회 메인 docs 페이지에서 이메일